/*Flowplayer css*/

.flowplayer {
	width: 300px;
	float: right;
}

.flowplayer.main-video{
	width: 100%;
}
.flowplayer.is-ready .fp-player {
  background-color: #000;
}

/*card css*/
.video-container .card.mb-3 {
    background-color: #bdc6ce;
    box-shadow: 7px 7px 7px 7px;
}

.card.mb-3 .nav-tabs .nav-link.active
{
    background-color: #bdc6ce;
}

/*Navigation css*/
ul.navbar-nav.mr-auto{
	width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Container css*/
.video-container,.watch-videos {
	padding: 30px;
}
.watch-videos {
    padding-top: 20px;
}
.watch-video{
	margin: 10px;
    width: 100%;
    padding: 10px;
    border: 1.5px solid;
    background-color: #bdc6ce;
    box-shadow: 7px 7px 7px 7px;
}
.other-video{
	width:100%
}