{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row">

        <div class="create-video-form col-md-9 offset-md-2 offset-lg-2 col-lg-9">
            <h2>Video Upload</h2>
            <p class="h6 create-video-text">Please fill out the form below to upload your video. You will need to supply the video file and a video poster. The video file format can be in .mp4 or .mkv. The video poster should be an image file and allows formats in .jpg, .png, .gif.
                If you have any questions, please email <a href="mailto:me@danthegreat.com">me@danthegreat.com</a></p>
            <form enctype="multipart/form-data" action="/create/" method="post">
                {% csrf_token %} {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}">Name:</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    {{ form.description.errors }}
                    <label for="{{ form.description.id_for_label }}">Description:</label>
                    {{ form.description }}
                </div>
                <div class="form-group">
                    {{ form.document.errors }}
                    <label for="{{ form.document.id_for_label }}">Video File:</label>
                    {{ form.document }}
                </div>
                <div class="form-group">
                    {{ form.image.errors }}
                    <label for="{{ form.image.id_for_label }}">Video Image:</label>
                    {{ form.image }}
                </div>

                <div class="form-group">
                    {{ form.quiz.errors }}
                    <label for="{{ form.quiz.id_for_label }}">Select QUIZ:</label>
                    {{ form.quiz }}
                </div>

                <div class="form-group">
                    {{ form.course.errors }}
                    <label for="{{ form.course.id_for_label }}">Select COURSE:</label>
                    {{ form.course }}
                </div>

                <input type="submit" class="btn btn-primary" value="Submit" />
            </form>
        </div>
    </div>
</div>

{% endblock %}