{% extends "base.html" %} {% block content %}



<div class="row">


    <div class="video-container col-md-8 col-lg-8">

        <div class="card mb-3">
            <div class="flowplayer is-splash main-video" data-aspect-ratio="16:10" style="background-image: url({{video.image.url}})">
                <video width="500" height="500">
                    <source src="{{ video.document.url }}" type="video/mp4"> Your browser does not support the video tag.
                </video>
            </div>
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#video-details">Video Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#course-resources">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#course-quiz">Quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#course-videos">Course Videos</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane show active" id="video-details">
                        <h5 class="card-title">{{video.name}}</h5>
                        <p class="card-text">
                            <b>Speaker:</b> {{video.course.speaker}}</p>
                        <p class="card-text">
                            <b>Course:</b> {{video.course}}</p>
                        <p class="card-text">
                            <b>Description:</b> {{video.description}}</p>
                    </div>
                    <div class="tab-pane" id="course-resources">
                        <p class="card-text">
                            <i>This lecture does not currently have any resources</i>
                        </p>
                    </div>
                    <div class="tab-pane" id="course-quiz">
                        <p class="card-text">
                            <i>This lecture does not currently have any questions</i>
                        </p>
                    </div>
                    <div class="tab-pane" id="course-videos">
                        <table class="table table-bordered table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Speaker</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for inner_video in video.course.video_set.all %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><a href="/{{inner_video.id}}">{{ inner_video.name }}</a></td>
                                    <td><a href="/{{inner_video.id}}">{{ inner_video.course.speaker }}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      
                    </div>
                </div>

            </div>
        </div>

    </div>




    <div class="watch-videos col-lg-3 col-md-3">



        {% for otherVideo in video_list %}

        <div class="watch-video">
                <a href="/{{ otherVideo.id }}">
                    <img class="img-fluid" src="{{ otherVideo.image.url }}" alt="" href="/{{ otherVideo.id }}">
                  </a>
    
                <div class="slide-video-text">
                    <a href="/{{otherVideo.id}}">{{ video.name }}</a>
                </div>

        </div>




        {% endfor %}

    </div>

</div>
{% endblock %}