{% extends "base.html" %}

{% block content %}

   

        <div class="row">


            <div class="video-container  col-lg-8">


                <div class="flowplayer main-video" data-aspect-ratio="16:10">
                    <video width="500" height="500">
                        <source src="{{ video.document.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>

            </div>

        <div class="watch-videos col-lg-4">



            {% for otherVideo in videos %}

            <div class="watch-video">
                <div class="flowplayer other-video" data-aspect-ratio="16:10">
                    <video width="250" height="250">
                        <source src="{{ otherVideo.document.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                </div>

                <h4>
                    <a href="#">{{ otherVideo.name }}</a>
                </h4>

                </div>




            {% endfor %}

           </div>
        
    </div>
{% endblock %}