{% extends "base.html" %} {% block content %}



<div class="row">

    <div class="col-md-1 col-lg-1"></div>

    <div class="col-lg-offset-2 col-md-offset-2 col-md-10 col-lg-10">
    <span class="slide-video-text">Newest videos</span>
      <div class="watch-videos-slide ">     
   

        {% for video in video_list %}

        <div class="slide-video">
            <a href="/{{ video.id }}">
                <img class="img-fluid" src="{{ video.image.url }}" alt="" href="/{{ video.id }}">
              </a>

            <div>
                <a href="/{{video.id}}">{{ video.name }}</a>
            </div>

        </div>




        {% endfor %}

    </div>
    </div>

</div>
{% endblock %}